@model ProductApplication.Models.Entity.PaginatedProductViewModel
@{
    ViewData["Title"] = "Product List";
}


<h3>@ViewData["Title"]</h3>
<hr />
<form>
    <button asp-action="Create" asp-controller="Product" class="btn btn-primary mb-3">Create Product</button>
    <table class="table table-responsive table-border table-hover">
        <thead>
            <tr class="table-active">
                <th>
                    @Html.DisplayNameFor(Model => Model.Products.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Products.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Products.First().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Products.First().Category.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Products.First().IsActive)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Products.Any())
            {
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Id </td>
                        <td>@product.Name </td>
                        <td>@product.Price </td>
                        <th>@product.Category.Name</th>
                        <th>@product.IsActive</th>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id"
                            class="btn btn-success">Edit</a>
                             <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id"
                            class="btn btn-danger">Delete</a>
                            </div>

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">
                        <div>
                            No Products Available
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
<nav>
    <ul class="pagination">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber - 1)" asp-route-pageSize="@Model.PageSize">Previous</a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@Model.PageSize">@i</a>
            </li>
        }
        @if (Model.PageNumber < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
            </li>
        }
    </ul>
</nav>