@model ProductApplication.Models.Entity.PaginatedCategoryViewModel
@{
    ViewData["Title"] = "Category List";
}

<h3>@ViewData["Title"]</h3>
<hr />
<form>
    <button asp-action="CreateOrEdit" asp-controller="Category" class="btn btn-primary mb-3">Create Category</button>
    <table class="table table-responsive table-border table-hover">
        <thead>
            <tr class="table-active">
                <th>
                    @Html.DisplayNameFor(Model => Model.Categories.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Categories.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Categories.First().IsActive)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Categories.Any())
            {
                @foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Id </td>
                        <td>@category.Name </td>
                        <td>@category.IsActive </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="Category" asp-action="CreateOrEdit" asp-route-id="@category.Id"
                            class="btn btn-success">Edit</a>
                             <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id"
                            class="btn btn-danger">Delete</a>
                            </div

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">
                        <div>
                            No Categories Available
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
<nav>
    <ul class="pagination">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber - 1)" asp-route-pageSize="@Model.PageSize">Previous</a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@Model.PageSize">@i</a>
            </li>
        }
        @if (Model.PageNumber < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
            </li>
        }
    </ul>
</nav>