@model ProductApplication.Models.Entity.PaginatedCategoryViewModel

@{
    ViewData["Title"] = "Category List";
}

<h3>@ViewData["Title"]</h3>
<hr />
<a asp-action="CreateCategory" class="btn btn-primary mb-3">Create Category</a>
<table class="table table-responsive table-bordered table-hover">
    <thead>
        <tr class="table-active">
            <th>@Html.DisplayNameFor(model => model.Categories.First().Id)</th>
            <th>@Html.DisplayNameFor(model => model.Categories.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.Categories.First().IsActive)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Categories.Any())
        {
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.IsActive</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-success">Edit</a>
                            <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">No Categories Available</td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber - 1)" asp-route-pageSize="@Model.PageSize">Previous</a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@Model.PageSize">@i</a>
            </li>
        }
        @if (Model.PageNumber < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
            </li>
        }
    </ul>
</nav>